body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    padding: 20px;
    background: #4CAF50;
    color: white;
}

section {
    margin: 20px;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

.service,
.team-member {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service:hover,
.team-member:hover {
    text-decoration: underline; 
    cursor: pointer;
}


.service img,
.team-member img {
    max-width: 40vh;
    max-height: 20vh;
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 5px 0 2px;
}

form input,
select {
    margin-bottom: 10px;
    padding: 5px;
}

form button {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: white;
}